<div class="container mt-3">
  <h1>All my watchlists</h1>
  <ul class="list-list">
    <% @lists.each do |list| %>
      <%= link_to list_path(list) do %>
      <li><%= list.name %></li>
      <% end %>
    <% end %>
  </ul>
</div>
