.banner {
  background-size: cover;
  background-position: center;
  min-height: 70vh;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-show {
  h1 {
    margin: 0 32px 32px 0;
  }
  a {
    margin-right: 24px;
  }
  .banner-show-title {
    font-size: 48px;
  }
}
