.film-card {
  width: 100%;
  height: 250px;
  position: relative;
  display: flex;
  border: 1px solid $classy;
  border-radius: 10px;
  margin: 16px;
  background-color: $hot-pink;
  overflow: hidden;
  .comment {
    font-size: 1em;
    font-style: italic;
  }
  .film-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 16px;
  }
  .rating {
    height: 36px;
    width: 36px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 40%;
    position: absolute;
    top: 6px;
    right: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h3 {
    width: 80%;
  }
  i {
    font-size: 2rem;
    position: absolute;
    top: 6px;
    right: 60px;
    color: #BC2C1A;
    text-shadow: 0 0 3px white;
  }
  i:hover {
    text-shadow: 0 0 3px black;
  }
  p {
    max-height: 125px;
  }
}
